

[submodule "ABC-Strategie-GitHub/abc_contabilita_italiana"]
	path = ABC-Strategie-GitHub/abc_contabilita_italiana
	url = git@github.com:ABC-Strategie-GitHub/abc_contabilita_italiana.git
	branch = main

[submodule "ABC-Strategie-GitHub/abc_afe"]
	path = ABC-Strategie-GitHub/abc_afe
	url = git@github.com:ABC-Strategie-GitHub/abc_afe.git
	branch = main

[submodule "ABC-Strategie-GitHub/abc_x_planethoreca"]
	path = ABC-Strategie-GitHub/abc_x_planethoreca
	url = git@github.com:ABC-Strategie-GitHub/abc_x_planethoreca.git
	branch = main

[submodule "ABC-Strategie-GitHub/abc_mai_pos_lotnumer_selection"]
	path = ABC-Strategie-GitHub/abc_mai_pos_lotnumer_selection
	url = git@github.com:ABC-Strategie-GitHub/abc_mai_pos_lotnumer_selection.git
	branch = main

[submodule "ABC-Strategie-GitHub/abc_purchase_order_line_packaging_qty"]
	path = ABC-Strategie-GitHub/abc_purchase_order_line_packaging_qty
	url = git@github.com:ABC-Strategie-GitHub/abc_purchase_order_line_packaging_qty.git
	branch = main

[submodule "ABC-Strategie-GitHub/abc_bi_pos_stock"]
	path = ABC-Strategie-GitHub/abc_bi_pos_stock
	url = git@github.com:ABC-Strategie-GitHub/abc_bi_pos_stock.git
	branch = main
