[submodule "AlessandroSkab/demo-contabilita-italiana-Odoo-14"]
	path = AlessandroSkab/demo-contabilita-italiana-Odoo-14
	url = git@github.com:AlessandroSkab/demo-contabilita-italiana-Odoo-14.git
	branch = main

[submodule "masimassimo/pos_scontrino_testo_rch"]
	path = masimassimo/pos_scontrino_testo_rch
	url = git@github.com:masimassimo/pos_scontrino_testo_rch.git
	branch = main

[submodule "AlessandroSkab/afe"]
	path = AlessandroSkab/afe
	url = git@github.com:AlessandroSkab/afe.git
	branch = main


[submodule "AlessandroSkab/abc_x_planethoreca"]
	path = AlessandroSkab/abc_x_planethoreca
	url = git@github.com:AlessandroSkab/abc_x_planethoreca.git
	branch = main
